In [14]:
import pandas as pd
import numpy as np
file='epl-goalScorer(20-21).csv'
isifile=pd.read_csv(file)

In [15]:
isifile.head

<bound method NDFrame.head of      Unnamed: 0    id             player_name  games  time  goals         xG  \
0             0   647              Harry Kane     35  3097     23  22.174859
1             1  1250           Mohamed Salah     37  3085     22  20.250847
2             2  1228         Bruno Fernandes     37  3117     18  16.019454
3             3   453           Son Heung-Min     37  3139     17  11.023287
4             4   822         Patrick Bamford     38  3085     17  18.401863
..          ...   ...                     ...    ...   ...    ...        ...
517         517  9415  Jaden Philogene-Bidace      1     1      0   0.000000
518         518  9423         Gaetano Berardi      2   113      0   0.074761
519         519  9524          Anthony Elanga      1    67      0   0.000000
520         520  9540             Femi Seriki      1     1      0   0.000000
521         521  9552         Tyrese Francois      1    13      0   0.000000

     assists         xA  shots  key_passes  yellow_cards  red_cards position  \
0         14   7.577094    138          49             1          0        F
1          5   6.528526    126          55             0          0    F M S
2         12  11.474996    121          95             6          0      M S
3         10   9.512992     68          75             0          0    F M S
4          7   3.782247    107          30             3          0      F S
..       ...        ...    ...         ...           ...        ...      ...
517        0   0.000000      0           0             0          0        S
518        0   0.000000      1           0             0          0      D S
519        0   0.000000      0           0             0          0        M
520        0   0.000000      0           0             0          0        S
521        0   0.000000      0           0             0          0        S

            team_title  npg       npxG    xGChain  xGBuildup
0            Tottenham   19  19.130183  24.995648   4.451257
1            Liverpool   16  15.683834  28.968234   9.800236
2    Manchester United    9   8.407840  26.911412  11.932285
3            Tottenham   16  10.262118  20.671916   6.608751
4                Leeds   15  16.879525  23.394953   4.131796
..                 ...  ...        ...        ...        ...
517        Aston Villa    0   0.000000   0.056044   0.056044
518              Leeds    0   0.074761   0.231278   0.231278
519  Manchester United    0   0.000000   0.000000   0.000000
520   Sheffield United    0   0.000000   0.000000   0.000000
521             Fulham    0   0.000000   0.000000   0.000000

[522 rows x 19 columns]>

In [16]:
print(isifile.dtypes)

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

In [17]:
import pandas as pd
import numpy as np
file='epl-goalScorer(20-21).csv'
isifile=pd.read_csv(file)
df_noid=isifile.iloc[:,2:]

In [45]:
df_noid
df_noid.groupby('team_title').mean()

df_noid.groupby('team_title').mean().sort_values(by='goals',ascending='true')
df1=df_noid.groupby('team_title')['goals'].mean()
df1.sort_index()
df2=df1.sort_values(ascending=False)
df2.head()

team_title
Arsenal,Newcastle United    8.000000
Manchester City             3.208333
Aston Villa,Chelsea         3.000000
Liverpool,Southampton       3.000000
Everton,Southampton         3.000000
Name: goals, dtype: float64

In [19]:
q1=df_noid['goals'].quantile(0.25)
q3=df_noid['goals'].quantile(0.75)
iqr=q3-q1
iqr
df_noid['goals']

0      23
1      22
2      18
3      17
4      17
       ..
517     0
518     0
519     0
520     0
521     0
Name: goals, Length: 522, dtype: int64

In [20]:
iso=(df_noid['goals']<q1-1.5*iqr)|(df_noid['goals']>q3+1.5*iqr)
iseo=(df_noid['goals']<q1-3*iqr)|(df_noid['goals']<q3+3*iqr)
df1=df_noid[['player_name','goals']].assign(is_outlier=iso,is_extreme_outlier=iseo)
df1.loc[df1['is_outlier'] | df1['is_extreme_outlier']]

                player_name  goals  is_outlier  is_extreme_outlier
0                Harry Kane     23        True               False
1             Mohamed Salah     22        True               False
2           Bruno Fernandes     18        True               False
3             Son Heung-Min     17        True               False
4           Patrick Bamford     17        True               False
..                      ...    ...         ...                 ...
517  Jaden Philogene-Bidace      0       False                True
518         Gaetano Berardi      0       False                True
519          Anthony Elanga      0       False                True
520             Femi Seriki      0       False                True
521         Tyrese Francois      0       False                True

[522 rows x 4 columns]